<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
<h3>
    git static for spesific country 
</h3>
<form action="/search" method="get">
<input type="text" name="county" value="Country">
<input type="date" value="from" name="from">
<input type="date" value="to" name="to">
<button>submit</button>
</form>
    </main>
</body>
</html>